/* ==== Google font ==== */

@import url('http://fonts.googleapis.com/css?family=Lato:400,300,700,900');
body {
  /*background: #394864;*/
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #333;
  /*color: #555;*/
  line-height: 1.6em;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

/* wrapper */

#wrapper {
  text-align: center;
  padding: 50px 0;
  /*background: url(../img/main-bg.jpg) no-repeat center top;*/
  background-attachment: relative;
  background-position: center center;
  min-height: 650px;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#wrapper h1 {
  margin-top: 60px;
  margin-bottom: 40px;
  color: #74cfae;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: -1px;
}
h2.subtitle {
  /*color: #fff;*/
  color: #333;
  font-size: 24px;
}

/* countdown */

#countdown {
  font-size: 48px;
  color: #333;
  line-height: 1.1em;
  margin: 40px 0 60px;
}

/* footer */

p.copyright {
  margin-top: 50px;
  color: #fff;
  text-align: center;
}
